@tailwind base;
@tailwind components;
@tailwind utilities;

/* navbar */
.nav {
  height: 80px;
}

/* content */
.content {
  margin-top: 80px;
  height: calc(100vh-80px);
}

/* chat area */
.chatarea {
  height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
}
